aimee/src/main/java/com/nordsoft/xsd/全部输入.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="service"/>
        <xs:element type="xs:string" name="pid"/>
        <xs:element type="xs:string" name="username"/>
        <xs:element type="xs:string" name="sign"/>
        <xs:element type="xs:string" name="params"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>