aimee/src/main/java/com/nordsoft/xsd/退票理由请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="params">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="refundtype"/>
        <xs:element type="xs:byte" name="refundtypee"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>