aimee/src/main/java/com/nordsoft/xsd/退票提交结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RefundResult">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="RefundSuccess"/>
          <xs:attribute type="xs:string" name="OrderId"/>
          <xs:attribute type="xs:string" name="Passengers"/>
          <xs:attribute type="xs:string" name="ReasonId"/>
          <xs:attribute type="xs:string" name="ExtendMsg"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>